@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  
  .thin-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }
  
  .thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  